:root {
	--primario: #013E6A;
	--secundario: #000;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background: #F0F4F3;
	font-family: 'Quicksand', sans-serif;

	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.contenedor {
	width: 90%;
	max-width: 800px;
	border-radius: 10px;
	overflow: hidden;
	box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
	background: #fff;
	min-height: 60vh;

	display: grid;
	grid-template-columns: 1fr 1fr;
}