:root {
  --pieces-color: #000000;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.header-text {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 1rem;
  border-bottom: 5px solid black;
  text-transform: uppercase;
  background-color: #2E86C1;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: sans-serif;
}

.icon-config {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 15px;
  filter: invert(1);
}

.config-container-bg {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.config-container {
  position: relative;
  background-color: white;
  width: 80%;
  height: 60%;
  padding: 0.5rem;
  box-shadow: rgb(58, 58, 58) 1px 1px 5px;
}

.show-config {
  display: flex;
}

.config-container > p {
  font-weight: bold;
}

.config-header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.config-title {
  text-transform: uppercase;
}

.icon-cancel {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 20px;
}

.config-btn {
  color: white;
  padding: 1rem;
  font-weight: bold;
  background-color: #2E86C1;
  text-transform: uppercase;
  border: none;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 120px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70vh;
}

.board-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 300px;
  height: 300px;
  gap: 4px;
  background-color: black;
}

.board-container.disabled {
  opacity: 0.2;
  pointer-events: none;
}

.board-container.not-mark {
  pointer-events: none;
}

.square {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: var(--pieces-color, #000000);;
  font-size: 4rem;
  font-family: sans-serif;
  cursor: pointer;
}

.square:not(:empty) {
  pointer-events: none;
}

.btn-container {
    display: flex;
    justify-content: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.btn {
  background-color: #2E86C1;
  color: white;
  padding: 1rem;
  font-weight: bold;
  min-width: 150px;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.modal {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  color: green;
  font-weight: bold;
  font-size: 3rem;
  top: 34%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal.win {
  color: green;
}

.modal.lose {
  color: red;
}

.hide {
  display: none;
}

.board {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.board-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.board-item-title {
  font-weight: bold;
  padding-bottom: 0.5rem;
}

.feedback-user {
  font-size: 30px;
}

.feedback-user.not-show {
  visibility: hidden;
}

@media (max-width: 620px) {
  .facet_sidebar {
    display: none;
  }
}